.container {
  width: 100%;
  height: 77%;
  border: 20px solid yellow;
  border-image-source: url("../../public/ramka-drut-kolczasty.png");
  border-image-slice: 30;
  border-image-outset: 0.5;
  border-image-width: 40px;
  border-image-repeat: repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arena {
  width: 100%;
  position: relative;
  border: 20px solid yellow;
  border-image-source: url("../../public/ramka-drut-kolczasty.png");
  border-image-slice: 20;
  border-image-outset: 0.5;
  border-image-width: 10px;
  border-image-repeat: repeat;
  height: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 50% 25%;
      grid-template-columns: 25% 50% 25%;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.player {
  position: absolute;
  width: 100%;
  height: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.fightArea {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 3px solid orange;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.fightArea .windowAfterWin {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: grey;
  z-index: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[7];
      grid-template-rows: repeat(7, 1fr);
}

.fightArea .windowAfterWin .h1 {
  font-family: 'Babylonica', cursive;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.fightArea .windowAfterWin .h1Two {
  width: 100%;
  text-align: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.fightArea .windowAfterWin .fancyText {
  -webkit-text-stroke: 0.1px #ff6666;
  font-weight: bold;
}

.fightArea .windowAfterWin .lootItem {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3/6;
}

.fightArea .windowAfterWin .lootItem .gold {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.fightArea .windowAfterWin .lootItem .gold .imgGold {
  width: 50%;
  height: 80%;
}

.fightArea .windowAfterWin .lootItem .gold .amountGoldFromMonster {
  font-size: 2rem;
  -webkit-text-stroke: 1px red;
  font-weight: bold;
  position: absolute;
  color: gold;
}

.fightArea .windowAfterWin .lootItem .item {
  position: relative;
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fightArea .windowAfterWin .lootItem .item .imgItem {
  width: 50%;
  height: 80%;
}

.fightArea .windowAfterWin .pakBtn {
  margin-top: 10%;
  width: 100%;
  height: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5/7;
}

.fightArea .windowAfterWin .pakBtn .btn {
  width: 50%;
  height: 100%;
  font-size: 3rem;
}

.monster {
  position: absolute;
  width: 100%;
  height: 100%;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.atak {
  position: absolute;
  width: 200px;
  height: 200px;
  font-size: 3rem;
  left: 37%;
  background-color: skyblue;
  border: 20px solid green;
  border-radius: 15%;
}

.atak:hover {
  background-color: green;
}

.back {
  width: 20%;
  height: 5%;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}
/*# sourceMappingURL=Forest.module.css.map */