@media (min-width: 300px) {
  .container {
    position: relative;
    width: 100%;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 10%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: url("../public/extraImage/background.png");
    background-size: cover;
    border: 5px solid;
    border-image-source: url("../public/ramka.jpg");
    border-image-slice: 30;
    border-image-width: 10px 0 10px 0;
    border-image-outset: 1;
  }
  .windowInput {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 60% 20% 20%;
        grid-template-rows: 60% 20% 20%;
  }
  .inputPak {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    top: 12%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .inputPak input {
    border: 5px solid;
    border-image-source: url("../public/ramka-forest.png");
    border-image-slice: 40;
    border-image-width: 10px;
    border-image-outset: 1;
    position: relative;
    margin: 5%;
    background-color: #eaeab4;
    width: 90%;
    outline: none;
    height: 50%;
    font-size: 2rem;
    font-family: 'Grape Nuts', cursive;
    font-weight: bold;
    opacity: 0.9;
    text-align: center;
  }
  .inputPak input::-webkit-input-placeholder {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .inputPak input:-ms-input-placeholder {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .inputPak input::-ms-input-placeholder {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .inputPak input::placeholder {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .inputPak select {
    border: 5px solid;
    border-image-source: url("../public/ramka-forest.png");
    border-image-slice: 40;
    border-image-width: 10px;
    border-image-outset: 1;
    width: 85%;
    height: 50%;
    font-size: 2rem;
    text-align: center;
    background-color: #eaeab4;
    font-family: 'Grape Nuts', cursive;
    font-weight: bold;
    opacity: 0.9;
  }
  .option {
    font-size: 2rem;
    font-weight: bold;
  }
  .playButton {
    position: relative;
    width: 70%;
    height: 60%;
    background-color: red;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    background-color: #eaeab4;
    font-size: 2rem;
    font-family: 'Grape Nuts', cursive;
    font-weight: bold;
    letter-spacing: 2px;
    border: 5px solid;
    border-image-source: url("../public/ramka-forest.png");
    border-image-slice: 40;
    border-image-width: 10px;
    border-image-outset: 1;
    outline: none;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .profession {
    width: 30%;
    position: relative;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    top: 10%;
  }
}

@media (min-width: 500px) {
  .container {
    position: relative;
    width: 100%;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 10%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: url("../public/extraImage/background.png");
    background-size: cover;
    border: 5px solid;
    border-image-source: url("../public/ramka.jpg");
    border-image-slice: 30;
    border-image-width: 10px 0 10px 0;
    border-image-outset: 1;
  }
  .windowInput {
    width: 80%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 60% 20% 20%;
        grid-template-rows: 60% 20% 20%;
  }
  .inputPak {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    top: 12%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .inputPak input {
    border: 5px solid;
    border-image-source: url("../public/ramka-forest.png");
    border-image-slice: 40;
    border-image-width: 10px;
    border-image-outset: 1;
    position: relative;
    margin: 5%;
    background-color: #eaeab4;
    width: 90%;
    outline: none;
    height: 50%;
    font-size: 2rem;
    font-family: 'Grape Nuts', cursive;
    font-weight: bold;
    opacity: 0.9;
    text-align: center;
  }
  .inputPak input::-webkit-input-placeholder {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .inputPak input:-ms-input-placeholder {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .inputPak input::-ms-input-placeholder {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .inputPak input::placeholder {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .inputPak select {
    border: 5px solid;
    border-image-source: url("../public/ramka-forest.png");
    border-image-slice: 40;
    border-image-width: 10px;
    border-image-outset: 1;
    width: 85%;
    height: 50%;
    font-size: 2rem;
    text-align: center;
    background-color: #eaeab4;
    font-family: 'Grape Nuts', cursive;
    font-weight: bold;
    opacity: 0.9;
  }
  .option {
    font-size: 2rem;
    font-weight: bold;
  }
  .playButton {
    position: relative;
    width: 70%;
    height: 60%;
    background-color: red;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    background-color: #eaeab4;
    font-size: 2rem;
    font-family: 'Grape Nuts', cursive;
    font-weight: bold;
    letter-spacing: 2px;
    border: 5px solid;
    border-image-source: url("../public/ramka-forest.png");
    border-image-slice: 40;
    border-image-width: 10px;
    border-image-outset: 1;
    outline: none;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .profession {
    width: 30%;
    position: relative;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

@media (min-width: 700px) {
  .container {
    position: relative;
    width: 100%;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 10%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: url("../public/extraImage/background.png");
    background-size: cover;
    border: 5px solid;
    border-image-source: url("../public/ramka.jpg");
    border-image-slice: 30;
    border-image-width: 10px 0 10px 0;
    border-image-outset: 1;
  }
  .windowInput {
    width: 65%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 60% 20% 20%;
        grid-template-rows: 60% 20% 20%;
  }
  .inputPak {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    top: 12%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .inputPak input {
    border: 5px solid;
    border-image-source: url("../public/ramka-forest.png");
    border-image-slice: 40;
    border-image-width: 10px;
    border-image-outset: 1;
    position: relative;
    margin: 5%;
    background-color: #eaeab4;
    width: 90%;
    outline: none;
    height: 50%;
    font-size: 2rem;
    font-family: 'Grape Nuts', cursive;
    font-weight: bold;
    opacity: 0.9;
    text-align: center;
  }
  .inputPak input::-webkit-input-placeholder {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .inputPak input:-ms-input-placeholder {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .inputPak input::-ms-input-placeholder {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .inputPak input::placeholder {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .inputPak select {
    border: 5px solid;
    border-image-source: url("../public/ramka-forest.png");
    border-image-slice: 40;
    border-image-width: 10px;
    border-image-outset: 1;
    width: 85%;
    height: 50%;
    font-size: 2rem;
    text-align: center;
    background-color: #eaeab4;
    font-family: 'Grape Nuts', cursive;
    font-weight: bold;
    opacity: 0.9;
  }
  .option {
    font-size: 2rem;
    font-weight: bold;
  }
  .playButton {
    position: relative;
    width: 70%;
    height: 60%;
    background-color: red;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    background-color: #eaeab4;
    font-size: 2rem;
    font-family: 'Grape Nuts', cursive;
    font-weight: bold;
    letter-spacing: 2px;
    border: 5px solid;
    border-image-source: url("../public/ramka-forest.png");
    border-image-slice: 40;
    border-image-width: 10px;
    border-image-outset: 1;
    outline: none;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .profession {
    width: 30%;
    position: relative;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

@media (min-width: 900px) {
  .container {
    position: relative;
    width: 100%;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 10%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: url("../public/extraImage/background.png");
    background-size: cover;
    border: 5px solid;
    border-image-source: url("../public/ramka.jpg");
    border-image-slice: 30;
    border-image-width: 10px 0 10px 0;
    border-image-outset: 1;
  }
  .windowInput {
    width: 40%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 60% 20% 20%;
        grid-template-rows: 60% 20% 20%;
  }
  .inputPak {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    top: 12%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .inputPak input {
    border: 5px solid;
    border-image-source: url("../public/ramka-forest.png");
    border-image-slice: 40;
    border-image-width: 10px;
    border-image-outset: 1;
    position: relative;
    margin: 5%;
    background-color: #eaeab4;
    width: 90%;
    outline: none;
    height: 50%;
    font-size: 2rem;
    font-family: 'Grape Nuts', cursive;
    font-weight: bold;
    opacity: 0.9;
    text-align: center;
  }
  .inputPak input::-webkit-input-placeholder {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .inputPak input:-ms-input-placeholder {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .inputPak input::-ms-input-placeholder {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .inputPak input::placeholder {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .inputPak select {
    border: 5px solid;
    border-image-source: url("../public/ramka-forest.png");
    border-image-slice: 40;
    border-image-width: 10px;
    border-image-outset: 1;
    width: 85%;
    height: 50%;
    font-size: 2rem;
    text-align: center;
    background-color: #eaeab4;
    font-family: 'Grape Nuts', cursive;
    font-weight: bold;
    opacity: 0.9;
  }
  .option {
    font-size: 2rem;
    font-weight: bold;
  }
  .playButton {
    position: relative;
    width: 70%;
    height: 60%;
    background-color: red;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    background-color: #eaeab4;
    font-size: 2rem;
    font-family: 'Grape Nuts', cursive;
    font-weight: bold;
    letter-spacing: 2px;
    border: 5px solid;
    border-image-source: url("../public/ramka-forest.png");
    border-image-slice: 40;
    border-image-width: 10px;
    border-image-outset: 1;
    outline: none;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .profession {
    width: 40%;
    position: relative;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

@media (min-width: 1200px) {
  .container {
    position: relative;
    width: 100%;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 10%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: url("../public/extraImage/background.png");
    background-size: cover;
    border: 5px solid;
    border-image-source: url("../public/ramka.jpg");
    border-image-slice: 30;
    border-image-width: 10px 0 10px 0;
    border-image-outset: 1;
  }
  .windowInput {
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 60% 20% 20%;
        grid-template-rows: 60% 20% 20%;
  }
  .inputPak {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    top: 12%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .inputPak input {
    border: 5px solid;
    border-image-source: url("../public/ramka-forest.png");
    border-image-slice: 40;
    border-image-width: 10px;
    border-image-outset: 1;
    position: relative;
    margin: 5%;
    background-color: #eaeab4;
    width: 90%;
    outline: none;
    height: 50%;
    font-size: 2rem;
    font-family: 'Grape Nuts', cursive;
    font-weight: bold;
    opacity: 0.9;
    text-align: center;
  }
  .inputPak input::-webkit-input-placeholder {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .inputPak input:-ms-input-placeholder {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .inputPak input::-ms-input-placeholder {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .inputPak input::placeholder {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .inputPak select {
    border: 5px solid;
    border-image-source: url("../public/ramka-forest.png");
    border-image-slice: 40;
    border-image-width: 10px;
    border-image-outset: 1;
    width: 85%;
    height: 50%;
    font-size: 2rem;
    text-align: center;
    background-color: #eaeab4;
    font-family: 'Grape Nuts', cursive;
    font-weight: bold;
    opacity: 0.9;
  }
  .option {
    font-size: 2rem;
    font-weight: bold;
  }
  .playButton {
    position: relative;
    width: 70%;
    height: 60%;
    background-color: red;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    background-color: #eaeab4;
    font-size: 2rem;
    font-family: 'Grape Nuts', cursive;
    font-weight: bold;
    letter-spacing: 2px;
    border: 5px solid;
    border-image-source: url("../public/ramka-forest.png");
    border-image-slice: 40;
    border-image-width: 10px;
    border-image-outset: 1;
    outline: none;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .profession {
    width: 20%;
    position: relative;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}
/*# sourceMappingURL=createCharacter.module.css.map */