@media(min-width:300px){
    .container{
   
        background:linear-gradient(yellow 60%,orange,lime 90%);
        width:100%;
        height:100%;
      
        
        .nav{
            position:relative;
            list-style-type:none;
            height:30%;
            overflow-y:scroll;
            border:3px solid red;
            border-image-source: url("../../public/ramka-monster.png");
            border-image-slice:90;
            border-image-width:5px;
            &::-webkit-scrollbar{
                width:10px;
                background: url("../../public/stara-kartka-papieru2.png");
            }
            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px black;
                border-radius: 10px;
              }
              &::-webkit-scrollbar-thumb{
                  background: url("../../public/drawno2.png");
                  border:1px solid black;
              }
           
            li{
                border-bottom:1px solid black;
                text-align: center;
                font-size:2.6rem;
                background: url("../../public/stara-kartka-papieru2.png");
                background-origin: center;
                font-weight:bold;
                font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                &:hover{
                    background: url("../../public/stara-kartka-papieru.png");
                    color:white;
                    box-shadow:2px 2px 10px black,2px 2px 20px brown;
                }
            }
        }
        .section{
            position: absolute;
            width:100%;
            height:70%;
            border:3px solid red;
            border-image-source: url("../../public/ramka-monster.png");
            border-image-slice:90;
            border-image-width:5px;
           display:flex;
           flex-direction: column;
            overflow-y:scroll;
            justify-content: center;
            align-items: center;
            
          
            
            &::-webkit-scrollbar{
                width:10px;
            }
            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px grey;
                border-radius: 10px;
              }
              &::-webkit-scrollbar-thumb {
                background:url("../../public/drawno2.png");
                border-radius: 10px;
              }
           
          
            .name{
                
                
                text-align: center;
                z-index:2;
              margin-top:45%;
               height:10%;
                font-weight:bold;
           
                display:flex;
              
                font-size:2rem;
            }
            .img{
                width:50%;
               
                margin-top:5%;
             
            }
            .describe{
               
                margin-top:5%;
                font-weight:bold;
                text-align: center;
                
            }
         
            .skills{
             
                margin-top:5%;
                border:3px solid brown;
                width:95%;
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-image-source:url("../../public/ramka-box.png");
                border-image-slice:30;
              
               margin-bottom:5%;
               h3{
                   border-bottom:1px solid black;
                   margin-top:3%;
               }
                .itemDrop{
                  
                    display:flex;
                    flex-direction: column;
                    align-items:center;
            border-bottom:1px solid black;
            span{
                font-size:2rem;
                font-weight:bold;
            }
                    h3{
                        display:inline-block;
                        
                        
                    }
                    img{
                        width:20%;
                    }
                }
            }
        }
    }
    
}