.container{
    position:relative;
    width:97%;
    border:10px solid black;
    height:98.5%;
    top:1.5%;
    border-image-source: url("../../public/ramka.jpg") ;
    border-image-slice: 30 30 30 30;
    border-image-repeat:repeat;
    border-image-width: 5px 5px 5px 5px;
}