@media(min-width:300px){
    .container{
        position:relative;
        width:100%;
        border:2px solid black;
        height:100%;
        border-image-source: url("../../public/ramka.jpg") ;
        border-image-slice: 30 30 30 30;
        border-image-repeat:repeat;
        border-image-width: 10px;
  
   
      

        
       
    }
}