@media(min-width:300px){
    .container{
        width:100vw;
        height:100vh;
        background: url("../public/extraImage/backgroundPrime.png");
  background-size: cover;
        position:absolute;
  
       background-color:lighten(black,20%) ;
      
       .navbar{
           height:10%;
       }
       .children{
           height:86%;
       }
       .below{
           height:5%;
       }
       
    }
}
@media(min-width:300px) and (max-height:650px){
    .container{
        width:100vw;
        height:750px;
        background: url("../public/extraImage/backgroundPrime.png");
  background-size: cover;
       
       .navbar{
        height:10%;
    }
    .children{
        height:85%;
    }
    .below{
        height:5%;
    }

    }
}

@media(min-width:730px) {
    .container{
        width:100vw;
        height:100vh;
        background: url("../public/extraImage/backgroundPrime.png");
  background-size: cover;
  overflow:hidden;
       
       .navbar{
        height:10%;
    }
    .children{
        height:85%;
    }
    .below{
        height:5%;
    }

    }
}

@media(min-width:730px) and (max-height:650px){
    .container{
        width:100vw;
        height:750px;
        background: url("../public/extraImage/backgroundPrime.png");
  background-size: cover;
       
       .navbar{
        height:15%;
    }
    .children{
        height:80%;
    }
    .below{
        height:5%;
    }

    }
}
@media(min-width:1100px){
    .container{
        position:absolute;
        width:100vw;
        height:100vh;
        background: url("../public/extraImage/backgroundPrime.png");
  background-size: cover;
  left:50%;
  transform:translate(-50%,0);
       
       .navbar{
        height:15%;
    }
    .children{
        height:80%;
    }
    .below{
        height:5%;
    }

    } 
}
@media(min-width:1100px) and (max-height:650px){
    .container{
        width:90vw;
        height:800px;
        background: url("../public/extraImage/backgroundPrime.png");
  background-size: cover;
  left:50%;
  transform:translate(-50%,0);
       .navbar{
        height:15%;
    }
    .children{
        height:80%;
    }
    .below{
        height:5%;
    }

    } 
}



