@media(min-width:300px){
    .container{
        position:relative;
        width:100%;
        height:80%;
        display:flex;
        top:10%;
        justify-content: center;
        align-items: center;
        background: url("../public/extraImage/background.png");
        background-size: cover;
        border:5px solid;
        border-image-source:url("../public/ramka.jpg");
        border-image-slice:30;
        border-image-width:10px 0 10px 0;
        border-image-outset: 1;
       
                
    
    
    }
    .windowInput{
        width:100%;
        height:100%;
        background-repeat: no-repeat;
        background-size:auto;
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows:60% 20% 20%;
       
        
    }
    .inputPak{
       display:flex;
        width:100%;
        height:100%;
       position:relative;
       top:12%;
    
        flex-direction: column;
        align-items: center;
     
        grid-row:1/2;
    }

    
    .inputPak input{
        border:5px solid;
        border-image-source:url("../public/ramka-forest.png");
        border-image-slice:40;
        border-image-width:10px;
        border-image-outset: 1;
        position:relative;
        margin:5%;
        background-color: darken($color: beige, $amount: 10);
        width:90%;
        outline:none;
        height:50%;
        font-size:2rem;
        font-family: 'Grape Nuts', cursive;
        font-weight:bold;
        opacity:0.9;
        text-align: center;
    }
    .inputPak input::placeholder{
        text-align: center;
        font-size:1.5rem;
        font-weight:bold;
    }
    .inputPak select{
       
        border:5px solid;
        border-image-source:url("../public/ramka-forest.png");
        border-image-slice:40;
        border-image-width:10px;
        border-image-outset: 1;
        width:85%;
      
        height:50%;
        font-size:2rem;
        text-align: center;
        background-color: darken($color: beige, $amount: 10);
        font-family: 'Grape Nuts', cursive;
        font-weight:bold;
        opacity:0.9;
    }
    .option{
        font-size:2rem;
        font-weight:bold;
    }
    .playButton{
        position:relative;
      
        width:70%;
        
        height:60%;
        background-color: red;
       left:50%;
       transform:translate(-50%,0);
        background-color: darken($color: beige, $amount: 10);
        font-size:2rem;
        font-family: 'Grape Nuts', cursive;
        font-weight:bold;
        letter-spacing: 2px;
        border:5px solid;
        border-image-source:url("../public/ramka-forest.png");
        border-image-slice:40;
        border-image-width:10px;
        border-image-outset: 1;
        outline: none;
        grid-row:3/4;
    }
.profession{
    width:30%;
    position:relative;
 
    grid-row:2/3;
    top:10%;
}

    
}
//BREAKPOINTS MEDIA BREAKPOINTS MEDIA BREAKPOINTS MEDIA BREAKPOINTS MEDIA//
@media(min-width:500px){
    .container{
        position:relative;
        width:100%;
        height:80%;
        display:flex;
        top:10%;
        justify-content: center;
        align-items: center;
        background: url("../public/extraImage/background.png");
        background-size: cover;
        border:5px solid;
        border-image-source:url("../public/ramka.jpg");
        border-image-slice:30;
        border-image-width:10px 0 10px 0;
        border-image-outset: 1;
       
                
    
    
    }
    .windowInput{
        width:80%;
        height:100%;
        background-repeat: no-repeat;
        background-size:auto;
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows:60% 20% 20%;
       
        
    }
    .inputPak{
       display:flex;
        width:100%;
        height:100%;
       position:relative;
       top:12%;
    
        flex-direction: column;
        align-items: center;
     
        grid-row:1/2;
    }

    
    .inputPak input{
        border:5px solid;
        border-image-source:url("../public/ramka-forest.png");
        border-image-slice:40;
        border-image-width:10px;
        border-image-outset: 1;
        position:relative;
        margin:5%;
        background-color: darken($color: beige, $amount: 10);
        width:90%;
        outline:none;
        height:50%;
        font-size:2rem;
        font-family: 'Grape Nuts', cursive;
        font-weight:bold;
        opacity:0.9;
        text-align: center;
    }
    .inputPak input::placeholder{
        text-align: center;
        font-size:1.5rem;
        font-weight:bold;
    }
    .inputPak select{
       
        border:5px solid;
        border-image-source:url("../public/ramka-forest.png");
        border-image-slice:40;
        border-image-width:10px;
        border-image-outset: 1;
        width:85%;
      
        height:50%;
        font-size:2rem;
        text-align: center;
        background-color: darken($color: beige, $amount: 10);
        font-family: 'Grape Nuts', cursive;
        font-weight:bold;
        opacity:0.9;
    }
    .option{
        font-size:2rem;
        font-weight:bold;
    }
    .playButton{
        position:relative;
      
        width:70%;
        
        height:60%;
        background-color: red;
       left:50%;
       transform:translate(-50%,0);
        background-color: darken($color: beige, $amount: 10);
        font-size:2rem;
        font-family: 'Grape Nuts', cursive;
        font-weight:bold;
        letter-spacing: 2px;
        border:5px solid;
        border-image-source:url("../public/ramka-forest.png");
        border-image-slice:40;
        border-image-width:10px;
        border-image-outset: 1;
        outline: none;
        grid-row:3/4;
    }
.profession{
    width:30%;
    position:relative;
    grid-row:2/3;
}


}
@media(min-width:700px){
    .container{
        position:relative;
        width:100%;
        height:80%;
        display:flex;
        top:10%;
        justify-content: center;
        align-items: center;
        background: url("../public/extraImage/background.png");
        background-size: cover;
        border:5px solid;
        border-image-source:url("../public/ramka.jpg");
        border-image-slice:30;
        border-image-width:10px 0 10px 0;
        border-image-outset: 1;
       
                
    
    
    }
    .windowInput{
        width:65%;
        height:100%;
        background-repeat: no-repeat;
        background-size:auto;
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows:60% 20% 20%;
       
        
    }
    .inputPak{
       display:flex;
        width:100%;
        height:100%;
       position:relative;
       top:12%;
    
        flex-direction: column;
        align-items: center;
     
        grid-row:1/2;
    }

    
    .inputPak input{
        border:5px solid;
        border-image-source:url("../public/ramka-forest.png");
        border-image-slice:40;
        border-image-width:10px;
        border-image-outset: 1;
        position:relative;
        margin:5%;
        background-color: darken($color: beige, $amount: 10);
        width:90%;
        outline:none;
        height:50%;
        font-size:2rem;
        font-family: 'Grape Nuts', cursive;
        font-weight:bold;
        opacity:0.9;
        text-align: center;
    }
    .inputPak input::placeholder{
        text-align: center;
        font-size:1.5rem;
        font-weight:bold;
    }
    .inputPak select{
       
        border:5px solid;
        border-image-source:url("../public/ramka-forest.png");
        border-image-slice:40;
        border-image-width:10px;
        border-image-outset: 1;
        width:85%;
      
        height:50%;
        font-size:2rem;
        text-align: center;
        background-color: darken($color: beige, $amount: 10);
        font-family: 'Grape Nuts', cursive;
        font-weight:bold;
        opacity:0.9;
    }
    .option{
        font-size:2rem;
        font-weight:bold;
    }
    .playButton{
        position:relative;
      
        width:70%;
        
        height:60%;
        background-color: red;
       left:50%;
       transform:translate(-50%,0);
        background-color: darken($color: beige, $amount: 10);
        font-size:2rem;
        font-family: 'Grape Nuts', cursive;
        font-weight:bold;
        letter-spacing: 2px;
        border:5px solid;
        border-image-source:url("../public/ramka-forest.png");
        border-image-slice:40;
        border-image-width:10px;
        border-image-outset: 1;
        outline: none;
        grid-row:3/4;
    }
.profession{
    width:30%;
    position:relative;
    grid-row:2/3;
}

 
}
@media(min-width:900px){
    .container{
        position:relative;
        width:100%;
        height:80%;
        display:flex;
        top:10%;
        justify-content: center;
        align-items: center;
        background: url("../public/extraImage/background.png");
        background-size: cover;
        border:5px solid;
        border-image-source:url("../public/ramka.jpg");
        border-image-slice:30;
        border-image-width:10px 0 10px 0;
        border-image-outset: 1;
       
                
    
    
    }
    .windowInput{
        width: 40%;
        height:100%;
        background-repeat: no-repeat;
        background-size:auto;
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows:60% 20% 20%;
       
        
    }
    .inputPak{
       display:flex;
        width:100%;
        height:100%;
       position:relative;
       top:12%;
    
        flex-direction: column;
        align-items: center;
     
        grid-row:1/2;
    }

    
    .inputPak input{
        border:5px solid;
        border-image-source:url("../public/ramka-forest.png");
        border-image-slice:40;
        border-image-width:10px;
        border-image-outset: 1;
        position:relative;
        margin:5%;
        background-color: darken($color: beige, $amount: 10);
        width:90%;
        outline:none;
        height:50%;
        font-size:2rem;
        font-family: 'Grape Nuts', cursive;
        font-weight:bold;
        opacity:0.9;
        text-align: center;
    }
    .inputPak input::placeholder{
        text-align: center;
        font-size:1.5rem;
        font-weight:bold;
    }
    .inputPak select{
       
        border:5px solid;
        border-image-source:url("../public/ramka-forest.png");
        border-image-slice:40;
        border-image-width:10px;
        border-image-outset: 1;
        width:85%;
      
        height:50%;
        font-size:2rem;
        text-align: center;
        background-color: darken($color: beige, $amount: 10);
        font-family: 'Grape Nuts', cursive;
        font-weight:bold;
        opacity:0.9;
    }
    .option{
        font-size:2rem;
        font-weight:bold;
    }
    .playButton{
        position:relative;
      
        width:70%;
        
        height:60%;
        background-color: red;
       left:50%;
       transform:translate(-50%,0);
        background-color: darken($color: beige, $amount: 10);
        font-size:2rem;
        font-family: 'Grape Nuts', cursive;
        font-weight:bold;
        letter-spacing: 2px;
        border:5px solid;
        border-image-source:url("../public/ramka-forest.png");
        border-image-slice:40;
        border-image-width:10px;
        border-image-outset: 1;
        outline: none;
        grid-row:3/4;
    }
.profession{
    width:40%;
    position:relative;
    grid-row:2/3;
}


}
@media(min-width:1200px){
    .container{
        position:relative;
        width:100%;
        height:80%;
        display:flex;
        top:10%;
        justify-content: center;
        align-items: center;
        background: url("../public/extraImage/background.png");
        background-size: cover;
        border:5px solid;
        border-image-source:url("../public/ramka.jpg");
        border-image-slice:30;
        border-image-width:10px 0 10px 0;
        border-image-outset: 1;
       
                
    
    
    }
    .windowInput{
        width:50%;
        height:100%;
        background-repeat: no-repeat;
        background-size:auto;
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows:60% 20% 20%;
       
        
    }
    .inputPak{
       display:flex;
        width:100%;
        height:100%;
       position:relative;
       top:12%;
    
        flex-direction: column;
        align-items: center;
     
        grid-row:1/2;
    }

    
    .inputPak input{
        border:5px solid;
        border-image-source:url("../public/ramka-forest.png");
        border-image-slice:40;
        border-image-width:10px;
        border-image-outset: 1;
        position:relative;
        margin:5%;
        background-color: darken($color: beige, $amount: 10);
        width:90%;
        outline:none;
        height:50%;
        font-size:2rem;
        font-family: 'Grape Nuts', cursive;
        font-weight:bold;
        opacity:0.9;
        text-align: center;
    }
    .inputPak input::placeholder{
        text-align: center;
        font-size:1.5rem;
        font-weight:bold;
    }
    .inputPak select{
       
        border:5px solid;
        border-image-source:url("../public/ramka-forest.png");
        border-image-slice:40;
        border-image-width:10px;
        border-image-outset: 1;
        width:85%;
      
        height:50%;
        font-size:2rem;
        text-align: center;
        background-color: darken($color: beige, $amount: 10);
        font-family: 'Grape Nuts', cursive;
        font-weight:bold;
        opacity:0.9;
    }
    .option{
        font-size:2rem;
        font-weight:bold;
    }
    .playButton{
        position:relative;
      
        width:70%;
        
        height:60%;
        background-color: red;
       left:50%;
       transform:translate(-50%,0);
        background-color: darken($color: beige, $amount: 10);
        font-size:2rem;
        font-family: 'Grape Nuts', cursive;
        font-weight:bold;
        letter-spacing: 2px;
        border:5px solid;
        border-image-source:url("../public/ramka-forest.png");
        border-image-slice:40;
        border-image-width:10px;
        border-image-outset: 1;
        outline: none;
        grid-row:3/4;
    }
.profession{
    width:20%;
    position:relative;
    grid-row:2/3;
}


}