*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html{
  font-size:10px;
}

.InfoAboutItemPlayerComponent{
  display:flex;
  flex-direction: column;
  align-items: center;
  color:white;
  -webkit-text-stroke:.4px yellow;
 img{ width:50%;
  height:20%;


 }
}