
@media(min-width:300px){

    .containerPlayerPanel{
        width:100%;
        height:100%;
       
        border:2px solid;
        border-image-source: url("../public/ramka.jpg") ;
        border-image-slice: 30 30 30 30;
        border-image-repeat:repeat;
        border-image-width: 2px 2px 1px 2px;
      
        display:flex;
        flex-direction: column;
      background: black;
     
        box-sizing: border-box;
          
       
.dashboard{
    height:20%;
}
.player{
   position:absolute;
}
.displayOption{
 
    height:80%;
   
}      
        
    }
}
@media(min-width:300px) and (max-height:650px){
    .containerPlayerPanel{
        width:100%;
        height:640px;
        border:2px solid;
        border-image-source: url("../public/ramka.jpg") ;
        border-image-slice: 30 30 30 30;
        border-image-repeat:repeat;
        border-image-width: 2px 2px 1px 2px;
        display:flex;
        flex-direction: column;
      background: black;
        box-sizing: border-box;
      
       overflow-y: scroll;
.dashboard{
    height:20%;
}
.player{
   position:absolute;
}
.displayOption{
 
    height:80%;
   
}  }
}
@media(min-width:500px)  {
    .containerPlayerPanel{
        position:absolute;
        width:90%;
        height:85%;
    left:50%;
    transform:translate(-50%,0);
        border:2px solid;
        border-image-source: url("../public/ramka.jpg") ;
        border-image-slice: 30 30 30 30;
        border-image-repeat:repeat;
        border-image-width: 2px 2px 1px 2px;
        box-sizing: border-box;
       
              
        
.dashboard{
    height:20%;
}
.player{
   position:absolute;
}
.displayOption{
    
    height:80%;
   
}      
        
    }
}

@media(min-width:600px){
    .containerPlayerPanel{
        position:absolute;
        width:80%;
        height:85%;
    left:50%;
    transform:translate(-50%,0);
        border:2px solid;
        border-image-source: url("../public/ramka.jpg") ;
        border-image-slice: 30 30 30 30;
        border-image-repeat:repeat;
        border-image-width: 2px 2px 1px 2px;
        box-sizing: border-box;
       
        
        
.dashboard{
    height:20%;
}
.player{
   position:absolute;
}
.displayOption{
    
    height:80%;
   
}      
        
    }
}

@media(min-width:700px){
    .containerPlayerPanel{
        position:absolute;
        width:80%;
        height:85%;
    left:50%;
    transform:translate(-50%,0);
        border:2px solid;
        border-image-source: url("../public/ramka.jpg") ;
        border-image-slice: 30 30 30 30;
        border-image-repeat:repeat;
        border-image-width: 2px 2px 1px 2px;
        box-sizing: border-box;
       
              
        
.dashboard{
    height:20%;
}
.player{
   position:absolute;
}
.displayOption{
    
    height:80%;
   
}      
        
    } 
}
@media(min-width:900px){
    .containerPlayerPanel{
        position:absolute;
        width:70%;
        height:80%;
    left:50%;
    transform:translate(-50%,0);
        border:2px solid;
        border-image-source: url("../public/ramka.jpg") ;
        border-image-slice: 30 30 30 30;
        border-image-repeat:repeat;
        border-image-width: 2px 2px 1px 2px;
        box-sizing: border-box;
       
              
        
.dashboard{
    height:20%;
}
.player{
   position:absolute;
}
.displayOption{
    
    height:80%;
   
}      
        
    } 
}
